html,
body{
  height: 100%;
}
body{
  @extend %montserrat-500;
  display: flex;
  flex-direction: column;
  color: $default;
  background-color: $bg;
  font-size: 18px;
  line-height: 1.2;
}
.main{
  flex-grow: 1;
}
img{
  object-fit: cover;
}
.main-container{
  max-width: 1690px;
  margin: 0 auto;
  padding: 0 15px;
}
.container{
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}
a{
  color: $default;
}
.title,
.mini-title{
  @extend %montserrat-700;
  text-transform: uppercase;
  line-height: 1.5;
  position: relative;
  &::after{
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
    width: 125px;
    height: 4px;
    left: 0;
    bottom: 0;
  }
}
.title{
  font-size: 48px;
  padding-bottom: 40px;
  &::after{
    background-image: url('../images/content/line.png');
  }
}
.mini-title{
  font-size: 28px;
  padding-bottom: 20px;
  &::after{
    background-image: url('../images/content/line-mini.png');
  }
}
.subtitle{
  font-size: 24px;
  opacity: 0.5;
  margin-bottom: 30px;
}
.circle{
  width: 44px;
  height: 44px;
  border-radius: 50%;
  @extend %main-grad;
  box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.15);
}

