@media(max-width: 1500px){
  .industries{
    &__item:not(:first-child),
  &__wrapper:not(:first-child){
    margin-left: 50px;
  }
  }
  .menu{
    &__item:not(:first-child){
      margin-left: 30px;
    }
  }
  .header__link{
    max-width: 200px;
  }
  .top-course{
    padding-top: 120px;
  }
  .top{
    &__title{
      font-size: 33px;
      max-width: 600px;
    }
   
  &__image-reviews:first-child{
    width: 300px;
    left: -100px;
  }
  &__image-reviews:last-child{
    width: 150px;
  }
    &__content{
      padding-top: 0;
    }
  }
  .title{
    font-size: 30px;
  }
  .composition{
    &__circle:nth-child(1),
    &__circle:nth-child(2){
      opacity: 0;
    }
    &__bg-image:nth-child(5){
      width: 64px;
    }
    &__bg-image:nth-child(6){
      width: 132px;
      top: 48px;
      right: -50px;
    }
    &__bg-image:nth-child(7){
      width: 61px;
      bottom: 140px;
      left: 1%;
    transform: translateX(-1%);
    }
    &__bg-image:nth-child(8){
      width: 58px;
    }
    &__image{
      max-width: 550px;
    }
    &__channel{
      overflow: hidden;
    }
  }
  .industries{
    &__title{
      font-size: 20px;
    }
  }
  .results,
  .reviews{
    &__item{
      img{
      width: 400px;
      height: 250px; 
      }
    }
    &__next{
      right: 0;
    }
    &__prev{
      left: 0;
    }
      
  }
  .gallery{
    &__bg-image:nth-child(2){
      width: 50px;
      right: 0;
    }
    &__bg-image:nth-child(3){
      width: 150px;
      left: 0;
    }
     &__bg-image:nth-child(4){
      right: 0;
    }
     &__bg-image:nth-child(5),
     &__bg-image:nth-child(6){
      width: 100px;
    }
    &__bg-image:nth-child(6){
      right: 0;
      bottom: 0;
    }
  }
  .review{
    &__item{
      flex-wrap: wrap;
    }
    &__content{
      margin: 0 auto;
    }
    &__prev{
      left: 30%;
      top: 57.5%;
    }
     &__next{
      right: 30%;
      top: 65%;
    }
    .iframe-wrapper{
      margin: 0 auto 40px;
    }
    .composition__bg{
      display: none;
    }
  }
  .iframe{
    height: 400px;
  }
}
@media(max-width: 1170px){
  .industries{
  &__item:not(:first-child),
  &__wrapper:not(:first-child){
    margin-left: 0;
  }
    &__items{
      display: block;
      margin: 0 auto;
    }
    &__wrapper{
      margin-bottom: 30px;
    }
  }
  .partners{
    display: block;
    &__wrapper{
      margin: 0 auto 30px;
      justify-content: space-between;
    }
     &__item:not(:first-child),
  &__wrapper:not(:first-child){
    margin-left: 0;
  }
  }
  .popup-log.active,
  .popup-reg.active{
    display: none;
  }
  .login{
  display: block;
}
  .header{
    &__link{
      display: none;
    }
    .menu__header-link{
      display: flex;
    }
  }
  .menu{
    &__list{
      transform: translateY(-200%);
      position: absolute;
      top: 75px;
      width: 100%;
      left: 0;
      flex-direction: column;
      align-items: center;
      z-index: 5;
      transition: transform 0.5s ease;
      background-color: $accent;
      &.menu__list--active{
        transform: translateY(0);
        transition: transform 0.5s ease;
        padding-bottom: 50px;
      }
    }
      &__item{
      width: 100%;
      padding: 0 15px;
      text-align: center;
      margin-bottom: 20px;
     }
     &__item:not(:first-child){
       margin-left: 0;
     }
    &__link{
      padding: 5px 0;
      display: block;
      font-size: 24px;
     }
      &__btn{
      display: block;
    }
  }
  .top-faq{
    padding-top: 0;
  }
  .top{
    padding-bottom: 0;
     &__image:first-child{
    width: 66px;
    top: 0;
    left: 0;
  }
  &__image:nth-child(2){
    width: 102px;
    left: 0;
    bottom: 70px;
  }
  &__image:nth-of-type(3){
    width: 118px;
    right: 0;
    transform: translateX(0);
    bottom: -45px;
  }
  &__image:last-child{
    width: 79px;
    right: 0;
    transform: translateX(0);
    bottom: 210px;
  }
    &__image-faq:first-child{
      width: 72px;
      left: 0;
      bottom: 5px;
    }
    &__image-faq:last-child{
      width: 104px;
      right: 0;
      top: unset;
      bottom: -20px;
    }
    &__image-about:first-child{
      width: 63px;
      left: 20px;
      bottom: -25px;
    }
    &__image-about:last-child{
      right: 30px;
      bottom: 70px;
      width: 50px;
    }
    &__image-about:nth-child(2){
      width: 65px;
      left: 0;
    }
    &__image-about:nth-of-type(3){
      width: 89px;
      right: 10%;
      bottom: 0;
    }
     &__image-reviews:first-child{
      width: 220px;
      bottom: 0;
      left: -90px;
    }
    &__image-reviews:last-child{
      bottom: 0;
    }
    &__content{
      padding-bottom: 30px;
    }
    &__button{
      display: none;
    }
    &__button--link{
      display: flex;
    }
  }
  .faq{
    overflow: hidden;
    &__top{
      padding: 40px 10px 40px;
    }
    &__question{
      margin-left: 10px;
    }
  }
  .about{
    &__wrapper{
      display: block;
    }
    &__info{
      margin: 0 auto;
      max-width: 100%;
    }
    &__info-text{
      margin-bottom: 5px;
      text-align: center;
    }
    &__input:not(:first-child),
    &__form-button{
      margin-left: 5px;
    }
    &__input{
      width: 180px;
    }
    &__content{
      padding: 60px 0 60px;
    }
  }
  .start{
    &__image{
      width: 134px;
      position: absolute;
      right: 0;
      bottom: 85px;
    }
    &__form{
      position: relative;
      z-index: 2;
    }
  }
  .mini-title{
    text-align: center;
    &::after{
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .composition{
    &__wrapper{
      flex-wrap: wrap;
    }
    &__image{
      order: -1;
    }
    &__image,
    &__info{
      margin: 0 auto;
    }
    &__info-text{
      max-width: 100%;
    }
  }
  .courses{
    overflow: hidden;
    &__bg-image:nth-child(1){
      width: 100px;
      left: 20px;
      top: -15px;
    }
    &__bg-image:nth-child(2){
      width: 72px;
      right: 10px;
      top: 130px;
      transform: rotate(330deg);
    }
    &__bg-image:nth-child(3){
      width: 71px;
      left: 0;
      bottom: 0;
    }
    &__bg-image:nth-child(4){
      display: none;
    }
    &__bg-image--faq:nth-child(4){
      width: 88px;
      display: block;
      bottom: -15px;
    }
    &__list-wrapper{
      padding-left: 40px;
    }
    &__list-item{
      margin-bottom: 14px;
    }
    &__wrapper.active{
      min-height: 436px;
    }
    &__link,
    &__list-item{
      font-size: 16px;
      &::before{
        top: 5px;
        width: 5px;
        height: 5px;
        border-radius: 50%;
      }
    }
    
  }
  .cards{
    grid-template-columns: repeat(1, 1fr);
    -ms-grid-columns: repeat(1, 1fr);
    grid-row-gap: 10px;
  }
  .card{
    margin: 0 auto;
  }
  .results,
  .reviews{
    &__item{
      img{
      width: 300px;
      height: 200px; 
      }
    }
      
  }
  .info{
    &__inner{
      display: block;
    }
    &__image,
    &__content{
      margin: 0 auto 30px;
    }
    &__content{
      max-width: 100%;
    }
  }
  .units{
    &__items{
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-columns: repeat(2, 1fr);
    grid-row-gap: 50px
    }
    &__item{
      margin: 0 auto;
    }
  }
  .gallery{
   &__bg-image:nth-child(3){
     left: -80px;
   }
   &__bg-image:nth-child(4){
     right: -90px;
   }
  }
  .review{
    .composition__bg-image:nth-child(7){
      bottom: 0;
    }
    .composition__circle:nth-child(3),
    .composition__circle:nth-child(4){
      opacity: 0;
    }
  }
  .iframe-wrapper{
    margin: 0 auto;
  }
  .iframe{
    max-width: 100%;
    height: 456px;
  }
  .vacancies{
    &__wrapper{
      position: relative;
      margin: 0 auto;
      min-height: 164px!important;
      bottom: 0;
      right: unset;
      transform: unset;
      background-color: transparent;
      box-shadow: unset;
      &::before,
      &::after{
        display: none;
      }
    }
    &__link{
      font-size: 18px;
    }
    &__inner{
      padding: 25px 0;
    }
    &__title{
      font-size: 24px;
    }
    &__title.active{
      &::after{
        display: none;
      }
    }
    &__link{
      &:hover{
        color: $default;
      }
    }
    &__item:not(:last-child){
      margin-bottom: 25px;
    }
  }
  .footer{
    &__inner{
      display: block;
    }
    &__tels{
      margin-bottom: 50px;
    }
    &__tels{
      justify-content: center;
    }
  }
  .videos{
    overflow: hidden;
    &__items{
      grid-template-columns: repeat(2, 1fr);
    -ms-grid-columns: repeat(2, 1fr);
    }
  }
  .store{
    &__wrapper{
      z-index: 3;
    }
  }
}

@media(max-width: 770px){
  .partners{
    padding: 40px 0;
    &__wrapper{
      justify-content: center;
    }
    &__item:not(:first-child){
      margin-left: 20px;
    }
  }
  .industries{
    padding: 0 0 30px;
    &__img-wrapper{
      width: 70px;
      height: 70px;
      margin-bottom: 20px;
    }
    &__img{
      width: 32px;
      height: 32px;
    }
    &__item{
      span{
        font-size: 16px;
      }
    }
  }
  .faq{
    &__question{
      font-size: 16px;
    }
    &__svg-wrapper{
      position: absolute;
      right: 5px;
      margin-left: 0;
      width: 30px;
      height: 30px;
      svg{
        width: 10px;
      }
    }
  }
  .about{
    &__form,
    &__input{
      display: block;
      margin-bottom: 20px;
    }
    &__form.active{
      position: static;
      margin: 0 auto;
    }
    &__input:not(:first-child),
    &__form-button{
      margin-left: 0;
    }
    &__input:nth-child(2){
      display: none;
    }
    &__team{
     &::before{
       width: 123px;
       height: 123px;
       left: -30px;
       bottom: 50px;
       background-size: cover;
     }
     &::after{
       width: 104px;
       height: 104px;
       background-size: cover;
       top: 0;
     }
    }
    &__image{
      position: absolute;
    }
    &__image--woman{
      width: 172px;
      right: -90px;
      bottom: 0;
      position: absolute;
      margin-bottom: 0;
    }
    &__image:last-child{
      width: 48px;
      right: 70%;
      transform: translateX(70%) rotate(-60deg);
    }
     &__inner{
     padding: 200px 0 50px;
    }
     &__title{
       padding-top: 50px;
      margin-bottom: 30px;
      text-align: center;
      &::after{
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &__team-info{
      margin: -230px auto 0;
      padding-left: 0;
    }
    &__button{
      width: 220px;
      font-size: 14px;
      margin: 0 auto;
    }
  }
  .units{
    padding: 60px 0 140px;
    &__title{
      margin-bottom: 30px;
    }
    &__items{
    grid-template-columns: repeat(1, 1fr);
    -ms-grid-columns: repeat(1, 1fr);
    grid-row-gap: 10px
    }
    &__item{
      max-width: 374px;
      width: 100%;
      height: 80px;
      margin: 0 auto;
      display: flex;
      align-items: center;
    }
    &__name,
    &__image{
      margin: 0;
    }
    &__image{
      width: 40px;
      height: 40px;
      margin-left: 49px;
    }
    &__name{
      max-width: 214px;
      font-size: 16px;
      text-align: left;
      margin-left: 22px;
    }
    &__circle:nth-child(1),
    &__circle:nth-child(2),
    &__circle:nth-child(3),
    &__circle:nth-child(4){
      opacity: 0;
    }
  }
  .facebook{
    width: 96px;
  }
  .google{
    width: 67px;
  }
  .tiktok{
    width: 78px;
  }
  .twitter{
    width: 89px;
  }
  .pinterest{
    width: 91px;  
  }
  .whatsapp{
    width: 100px;
  }
  .telegram{
    width: 23px;
  }
  .review{
    &__prev{
      left: 0;
    }
    &__next{
      right: 0;
    }
  }
}
@media(max-width: 610px){
  .logo{
    width: 82px;
    height: 20px;
  }
  .title{
    font-size: 20px;
    padding-bottom: 20px;
  }
  .mini-title{
    font-size: 18px;
  }
  .header-course{
    &::before{
      width: 112px;
      height: 112px;
      left: -50px;
      top: 80px;
      background-size: cover;
    }
  }
  .top-course{
    padding-top: 60px;
    .top__title{
      max-width: 250px;
    }
  }
  .top{
    &__title{
      font-size: 22px;
      line-height: 1.5;
      max-width: 290px;
    }
    &__items{
      display: block;
    }
    &__item{
      justify-content: center;
      margin-bottom: 38px;
    }
    &__item:not(:first-child){
      margin-left: 0;
    }
    &__button{
      max-width: 220px;
      font-size: 14px;
    }
    &__image-reviews:nth-child(2){
      bottom: -15px;
    }
    &__image-reviews:nth-of-type(3){
      bottom: 100px;
      right: 35%;
    }
    &__image-courses:first-child{
      width: 50px;
      left: 30%;
    }
    &__image-courses:nth-of-type(2){
      width: 110px;
      bottom: 80px;
    }
    &__image-courses:last-child{
      width: 111px;
      right: -50px;
      bottom: -50px;
    }
  }
  .subtitle{
    font-size: 12px;
    margin-bottom: 10px;
  }
  .about{
    &__content{
      padding: 60px 0 60px;
      &::before{
        bottom: -350px;
        left: -400px;
      }
      &::after{
        right: -1000px;
        top: -300px;
      }
    }
    &__info-text{
      font-size: 14px;
      line-height: 17px;
    }
  }
  .composition{
    &__link{
      max-width: 220px;
      font-size: 14px;
    }
    &__item{
      font-size: 14px;
      line-height: 17px;
    }
    &__info-text{
      font-size: 14px;
      line-height: 17px;
    }
    &__content{
      padding: 60px 0;
    }
    &__channel{
      padding: 70px 0 50px;
    }
    &__bg-image:nth-child(7){
      bottom: 110px;
    }
    &__bg-image:nth-child(8){
      bottom: -25px;
      right: 5%;
    }
    &__circle:nth-child(3){
      width: 26px;
      height: 26px;
    }
    &__content{
      &::before,
      &::after{
        z-index: 0;
      }
      &::before{
        left: unset;
        right: -1040px;
      }
      &::after{
        right: 180px;
        bottom: -270px;
      }
    }
  }
  
  .start{
    &__form{
      max-width: 280px;
    }
    &__inner{
      justify-content: flex-start;
    }
  }
  .courses{
    padding: 60px 0;
    &__image{
      width: 50px;
      height: 50px;
      margin-left: 20px;
    }

    &__preview,
    &__wrapper{
      max-width: 374px;
      min-height: 80px;
    }
    &__wrapper{
      min-height: 80px;
    }
    &__wrapper-image{
      padding-top: 50px;
    }
    &__preview-title{
      margin-left: 22px;
      font-size: 16px;
      line-height: 24px;
    }
    &__list-wrapper{
      padding: 20px 0;
      padding-left: 40px;
    }
    &__list-wrapper.active{
      display: block;
    }
  }
  .card{
    padding-bottom: 0;
    min-height: 840px;
    &__text{
      font-size: 14px;
      line-height: 17px;
      max-width: 250px;
      margin-bottom: 20px;
    }
    &__list-item{
      font-size: 14px;
      line-height: 17px;
      max-width: 220px;
      width: 100%;
      margin: 0 auto 14px;
      &::before{
        width: 5px;
        height: 5px;
        top: 6px;
      }
    }
    &__button-download{
      span{
        font-size: 12px;
        padding-left: 0;
      }
    }
    &::before,
    &::after{
      display: none;
    }
    &__form-wrapper{
      grid-template-columns: repeat(1, 1fr);
      -ms-grid-columns: repeat(1, 1fr);
    }
  }
  .faq{
    padding: 60px 0;
    .circle{
      width: 30px;
      height: 30px;
    }
    &__top{
      display: block;
    }
    &__number{
      position: absolute;
      top: -20px;
      left: 50%;
      transform: translateX(-50%);
      width: 40px;
      height: 40px;
      border-radius: 10px;
      span{
        font-size: 14px;
      }
    }
    &__question{
      text-align: center;
    }
    &__text{
      text-align: center;
      font-size: 14px;
      line-height: 17px;
    }
    &__svg-wrapper{
      display: none;
    }
    &__item{
      min-height: 80px;
    }
  }
  .reviews,
  .results{
    padding-top: 50px;
    &__next{
      top: -10px;
    }
    &__prev{
      top: unset;
      bottom: 0;
    }
  }
  .results{
    &::after{
      right: -1000px;
      top: -500px;
    }
    &::before{
      bottom: -410px;
      left: -380px;
    }
  }
  .reviews{
    &::after{
      left: 190px;
      bottom: -300px;
    }
    &::before{
      bottom: -100px;
      left: -380px;
    }
  }
  .info{
    padding: 60px 0;
    &__text{
      font-size: 14px;
      line-height: 17px;
    }
    &::before,
    &::after{
      z-index: -1;
    }
    &::before{
      bottom: -400px;
      left: -400px;
    }
    &::after{
      right: -1000px;
      top: -600px;
    }
  }
  .gallery{
    &__bg-image:first-child{
      width: 163px;
      left: -50px;
      top: -50px;
    }
    &__bg-image:nth-child(3){
      width: 97px;
      left: 0;
      bottom: 49%;
    }
    &__bg-image:nth-child(4){
      width: 47px;
      right: 0;
      bottom: 0;
    }
    &__bg-image:nth-child(5){
      width: 113px;
      left: -20px;
      bottom: -20px;
    }
    &__bg-image:nth-child(6){
      width: 106px;
      right: -50px;
      bottom: 50%;
    }
    &__inner{
      padding-bottom: 60px;
    }
    &__text{
      font-size: 14px;
      line-height: 17px;
    }
  }
  .review{
    &__inner{
      padding-bottom: 20px;
    }
    &__text{
      font-size: 14px;
      line-height: 17px;
    }
    &__prev,
    &__next{
      top: -50px;
    }
    &__prev{
      top: -110px;
    }
    &__next{
      right: -40px;
    }
    .iframe,
    .iframe-wrapper{
      right: 0;
    }
  }
  .iframe-wrapper,
  .iframe{
    height: 200px;
    position: relative;
  }
  .iframe{
    a:before {
    left: 41%;
    top: 36%;
    width: 70px;
    height: 70px;
    }
  }
  .videos{
    padding: 50px 0 200px;
    &__items{
     grid-template-columns: repeat(1, 1fr);
    -ms-grid-columns: repeat(1, 1fr);
    grid-row-gap: 200px;
    }
    &__item{
      position: relative;
      margin: 0 auto;
      max-width: 324px;
      min-height: 224px;
    }
    &__item-title{
      &::after{
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &__bottom{
      text-align: center;
      position: absolute;
      bottom: -150px;
      left: 50%;
      transform: translateX(-50%);
      padding-left: 0;
      padding-bottom: 0;
      span{
        font-size: 16px;
      }
    }
    &__number{
      width: 40px;
      height: 40px;
      border-radius: 10px;
      span{
        font-size: 16px;
      }
    }
    &__center{
      position: relative;
      top: -15px;
      left: 10px;
    }
    &__link{
      img{
        width: 120px;
      }
    }
    &__title{
      margin-bottom: 30px;
    }
    .courses__bg-image:nth-child(2){
      top: 0;
    }
  }
  .footer{
    padding: 35px 0 50px;
    &__tels,
    &__tel{
      display: block;
    }
    &__tel{
      text-align: center;
    }
    &__tel:not(:first-child){
      margin-left: 0;
      margin-top: 20px;
    }
    &__social{
      grid-column-gap: 30px;
    }
  }
}
@media(max-width: 410px){
  .iframe,
  .iframe-wrapper{
    width: 380px;
    right: 0;
  }
  .iframe-wrapper{
  right: 7.5px;
}
.iframe{
  right: 18px;
}
}
@media(max-width: 340px){
.iframe-wrapper{
  right: 18px;
}
.iframe{
  right: 18px;
}
}