@media(max-width: 1500px){
  .menu{
    &__item:not(:first-child){
      margin-left: 30px;
    }
  }
  .header__link{
    max-width: 200px;
  }
  .top{
    &__title{
      font-size: 33px;
      max-width: 600px;
    }
    &__image:first-child{
    width: 66px;
    top: 0;
    left: -50px;
  }
  &__image:nth-child(2){
    width: 143px;
    left: -100px;
    bottom: 35px;
  }
  &__image:nth-of-type(3){
    width: 118px;
    right: -80px;
    transform: translateX(0);
    bottom: -40px;
  }
  &__image:last-child{
    width: 79px;
    right: -60px;
    transform: translateX(0);
    bottom: 210px;
  }
  &__image-reviews:first-child{
    width: 300px;
    left: -100px;
  }
  &__image-reviews:last-child{
    width: 150px;
  }
    &__content{
      padding-top: 0;
    }
  }
  .title{
    font-size: 30px;
  }
  .composition{
    &__circle:nth-child(1),
    &__circle:nth-child(2){
      opacity: 0;
    }
    &__bg-image:nth-child(5){
      width: 64px;
    }
    &__bg-image:nth-child(6){
      width: 132px;
      top: 48px;
      right: -50px;
    }
    &__bg-image:nth-child(7){
      width: 61px;
      bottom: 140px;
      left: 1%;
    transform: translateX(-1%);
    }
    &__bg-image:nth-child(8){
      width: 58px;
    }
    &__image{
      max-width: 550px;
    }
  }
  .industries{
    &__title{
      font-size: 20px;
    }
  }
  .results,
  .reviews{
    &__item{
      img{
      width: 400px;
      height: 250px; 
      }
    }
    &__next{
      right: 0;
    }
    &__prev{
      left: 0;
    }
      
  }
  .gallery{
    &__bg-image:first-child{
      width: 100px;
      left: -50px;
    }
    &__bg-image:nth-child(2){
      width: 50px;
      right: 0;
    }
    &__bg-image:nth-child(3){
      width: 150px;
      left: 0;
    }
     &__bg-image:nth-child(4){
      right: 0;
    }
     &__bg-image:nth-child(5),
     &__bg-image:nth-child(6){
      width: 100px;
    }
    &__bg-image:nth-child(6){
      right: 0;
      bottom: 0;
    }
  }
  .review{
    &__item{
      flex-wrap: wrap;
    }
    &__content{
      margin: 0 auto;
    }
    &__prev{
      left: -30px;
      top: 58%;
    }
     &__next{
      right: -30px;
      top: 65%;
    }
    .iframe-wrapper{
      margin: 0 auto 40px;
    }
  }
  .iframe{
    height: 400px;
  }
}
@media(max-width: 1170px){
  .login{
  display: block;
}
  .header{
    &__link{
      display: none;
    }
  }
  .menu{
    &__list{
      transform: translateY(-200%);
      position: absolute;
      top: 85px;
      width: 100%;
      left: 0;
      flex-direction: column;
      align-items: center;
      z-index: 5;
      transition: transform 0.5s ease;
      background-color: $accent;
      &.menu__list--active{
        transform: translateY(0);
        transition: transform 0.5s ease;
      }
    }
      &__item{
      width: 100%;
      padding: 0 15px;
      text-align: center;
      margin-bottom: 20px;
     }
     &__item:not(:first-child){
       margin-left: 0;
     }
    &__link{
      padding: 5px 0;
      display: block;
     }
      &__btn{
      display: block;
    }
  }
  .top{
    &__image-faq:first-child{
      width: 72px;
      left: -20px;
      bottom: 0;
    }
    &__image-faq:last-child{
      width: 172px;
      right: -50px;
      bottom: 0;
    }
    &__image-about:nth-of-type(3),
    &__image-about:nth-child(2){
      width: 150px;
    }
    &__image-about:first-child,
    &__image-about:last-child{
      width: 50px;
      bottom: 0;
    }
    &__image-about:nth-child(2){
      left: -100px;
    }
    &__image-about:nth-of-type(3){
      right: 40px;
    }
  }
  .faq{
    &__top{
      padding: 40px 10px 0;
    }
    &__question{
      margin-left: 10px;
    }
  }
  .industries{
    &__items{
      grid-template-columns: repeat(2, 1fr);
      -ms-grid-columns: repeat(2, 1fr);
      grid-row-gap: 32px;
      grid-column-gap: 57px;
    }
  }
  .about{
    &__wrapper{
      display: block;
    }
    &__info{
      margin: 0 auto;
      max-width: 100%;
    }
    &__info-text{
      margin-bottom: 5px;
    }
    &__input:not(:first-child),
    &__form-button{
      margin-left: 5px;
    }
    &__input{
      width: 180px;
    }
  }
  .start{
    &__image{
      width: 118px;
      height: 118px;
      position: absolute;
      right: -25px;
      bottom: 60px;
    }
    &__form{
      position: relative;
      z-index: 2;
    }
  }
  .mini-title{
    text-align: center;
    &::after{
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .composition{
    &__wrapper{
      flex-wrap: wrap;
    }
    &__image{
      order: -1;
    }
    &__image,
    &__info{
      margin: 0 auto;
    }
    &__info-text{
      max-width: 100%;
    }
  }
  .courses{
    &__bg-image:nth-child(1){
      width: 66px;
      left: -20px;
    }
    &__bg-image:nth-child(2){
      width: 72px;
      right: -20px;
    }
    &__bg-image:nth-child(3){
      width: 71px;
      left: -40px;
      bottom: 50%;
    }
    &__bg-image:nth-child(4){
      width: 87px;
      bottom: 0;
      right: -30px;
    }
    &__list-wrapper{
      display: block;
      padding-left: 40px;
    }
    &__list-item{
      margin-bottom: 10px;
    }
    &__wrapper.active{
      min-height: 436px;
    }
    &__link{
      font-size: 16px;
      &::before{
        top: 5px;
      }
    }
  }
  .cards{
    grid-template-columns: repeat(1, 1fr);
    -ms-grid-columns: repeat(1, 1fr);
    grid-row-gap: 10px;
  }
  .card{
    margin: 0 auto;
  }
  .results,
  .reviews{
    &__item{
      img{
      width: 300px;
      height: 200px; 
      }
    }
      
  }
  .info{
    &__inner{
      display: block;
    }
    &__image,
    &__content{
      margin: 0 auto 30px;
    }
    &__content{
      max-width: 100%;
    }
  }
  .units{
    &__items{
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-columns: repeat(2, 1fr);
    grid-row-gap: 50px
    }
    &__item{
      margin: 0 auto;
    }
  }
  .gallery{
   &__bg-image:nth-child(3){
     left: -80px;
   }
   &__bg-image:nth-child(4){
     right: -90px;
   }
  }
  .review{
    .composition__bg-image:nth-child(7){
      bottom: 0;
    }
    .composition__circle:nth-child(3),
    .composition__circle:nth-child(4){
      opacity: 0;
    }
  }
  .iframe-wrapper{
    margin: 0 auto 40px;
  }
  .iframe{
    max-width: 100%;
    height: 456px;
  }
  .footer{
    &__inner{
      display: block;
    }
    &__tels{
      margin-bottom: 50px;
    }
    &__tels{
      justify-content: center;
    }
  }
}

@media(max-width: 770px){
  .faq{
    &__question{
      font-size: 16px;
    }
    &__number{
      width: 50px;
      height: 50px;
      span{
        font-size: 16px;
      }
    }
    &__svg-wrapper{
      position: absolute;
      right: 5px;
      margin-left: 0;
      width: 30px;
      height: 30px;
      svg{
        width: 10px;
      }
    }
  }
  .about{
    &__form,
    &__input{
      display: block;
      margin-bottom: 10px;
    }
    &__input:not(:first-child),
    &__form-button{
      margin-left: 0;
    }
    &__form{
      right: 40%;
      top: 10px;
    }
    &__team{
      &::before,
      &::after{
       display: none;
      }
    }
    &__image{
      position: absolute;
    }
    &__image:first-child{
      width: 172px;
      right: -90px;
      bottom: 0;
      position: absolute;
    }
    &__image:last-child{
      width: 48px;
      right: 70%;
      transform: translateX(70%);
    }
     &__inner{
     padding: 200px 0 50px;
    }
     &__title{
       padding-top: 50px;
      margin-bottom: 30px;
      text-align: center;
      &::after{
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &__team-info{
      margin: -230px auto 0;
    }
    &__button{
      width: 220px;
      font-size: 14px;
      margin: 0 auto;
    }
  }
   .units{
     padding: 60px 0 140px;
    &__items{
    grid-template-columns: repeat(1, 1fr);
    -ms-grid-columns: repeat(1, 1fr);
    grid-row-gap: 50px
    }
    &__item{
      margin: 0 auto;
    }
    &__circle:nth-child(1),
    &__circle:nth-child(2),
    &__circle:nth-child(3),
    &__circle:nth-child(4){
      opacity: 0;
    }
  }
}

@media(max-width: 610px){
  .title{
    font-size: 20px;
    padding-bottom: 20px;
  }
  .mini-title{
    font-size: 18px;
  }
  .top{
    &__title{
      font-size: 22px;
    }
    &__items{
      display: block;
    }
    &__item{
      justify-content: center;
      margin-bottom: 38px;
    }
    &__item:not(:first-child){
      margin-left: 0;
    }
    &__button{
      max-width: 220px;
      font-size: 14px;
    }
    &__image-reviews:first-child{
      width: 150px;
      left: -50px;
    }
    &__image-reviews:nth-child(2){
      left: 0;
      bottom: 70px;
    }
    &__image-reviews:nth-of-type(3){
      right: 0;
      bottom: 70px;
    }
    &__image-reviews:last-child{
      width: 150px;
      right: -50px;
    }
  }
  .subtitle{
    font-size: 12px;
    margin-bottom: 10px;
  }
  .about{
    &__content{
      padding: 60px 0 60px;
    }
    &__info-text{
      font-size: 14px;
      line-height: 17px;
    }
    &__form{
      right: 20%;
    }

  }
  .composition{
    &__link{
      max-width: 220px;
      font-size: 14px;
    }
    &__info-text{
      font-size: 14px;
      line-height: 17px;
    }
    &__content{
      padding: 60px 0;
    }
  }
  .industries{
    &__img-wrapper{
      width: 70px;
      height: 70px;
      margin-bottom: 20px;
    }
    &__img{
      width: 32px;
      height: 32px;
    }
    &__item{
      span{
        font-size: 16px;
      }
    }
    &__item:last-child{
      position: relative;
      left: 30%;
    }
  }
  .start{
    &__form{
      max-width: 280px;
    }
  }
  .courses{
    padding: 60px 0;
    &__image{
      position: relative;
      top: -20px;
      width: 50px;
      height: 50px;
      margin: 0 auto 5px;
    }
    &__preview,
    &__wrapper-image{
      display: block;
    }
    &__preview,
    &__wrapper{
      max-width: 240px;
      min-height: 140px;
    }
    &__wrapper-image{
      padding-top: 0;
    }
    &__preview-title{
      max-width: 147px;
      margin: 0 auto;
      font-size: 16px;
      line-height: 24px;
    }
    &__list-wrapper{
      padding: 20px 0;
      padding-left: 40px;
    }
  }
  .card{
    padding-bottom: 0;
    min-height: 910px;
    &__text{
      font-size: 14px;
      line-height: 17px;
      max-width: 250px;
      margin-bottom: 20px;
    }
    &__list-item{
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      &::before{
        width: 7px;
        height: 7px;
        top: 4px;
      }
    }
    &__button-download{
      span{
        font-size: 12px;
        padding-left: 0;
      }
    }
    &::before,
    &::after{
      display: none;
    }
    &__form-wrapper{
      grid-template-columns: repeat(1, 1fr);
      -ms-grid-columns: repeat(1, 1fr);
    }
  }
  .faq{
    padding: 60px 0;
    &__number{
      width: 30px;
      height: 30px;
      span{
        font-size: 14px;
      }
    }
    &__question{
      max-width: 100px;
    }
    &__text{
      font-size: 14px;
      line-height: 17px;
    }
  }
  .reviews,
  .results{
    &__next{
      top: -10px;
    }
    &__prev{
      top: unset;
      bottom: 0;
    }
  }
  .info{
    padding: 60px 0;
    &__text{
      font-size: 14px;
      line-height: 17px;
    }
  }
  .gallery{
    &__inner{
      padding-bottom: 60px;
    }
    &__text{
      font-size: 14px;
      line-height: 17px;
    }
  }
  .review{
    &__text{
      font-size: 14px;
      line-height: 17px;
    }
    &__prev,
    &__next{
      top: -50px;
    }
    &__prev{
      top: -110px;
    }
    &__next{
      right: -55px;
    }
  }
  .facebook{
    width: 96px;
  }
  .google{
    width: 67px;
  }
  .tiktok{
    width: 78px;
  }
  .iframe-wrapper,
  .iframe{
    max-width: 320px;
    height: 200px;
  }
  .iframe{
    a:before {
    left: 41%;
    top: 36%;
    width: 70px;
    height: 70px;
    }
  }
  .login-html{
    padding: 40px 10px 0px 10px;
    .tab,
    .button,
    .input{
      font-size: 14px;
    }
  }
  .footer{
    padding-bottom: 50px;
    &__tels,
    &__tel{
      display: block;
    }
    &__tel{
      text-align: center;
    }
    &__tel:not(:first-child){
      margin-left: 0;
      margin-top: 20px;
    }
    &__social{
      grid-template-columns: repeat(2, 1fr);
      -ms-grid-columns: repeat(2, 1fr);
      grid-column-gap: 45px;
      grid-row-gap: 45px;
    }
  }
}