@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header{
  position: relative;
  @extend %main-grad;
  padding: 50px 0 0;
 &__inner{
   @extend %df;
 }
 &__link{
   @extend %btn;
   background-color: transparent;
   color: #000;
   border: 2px solid #000;
 }
  &__fixed{
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $accent;
    animation-name: show__header;
    animation-duration: 1s;
    justify-content: space-around;
    z-index: 10;
  }
  @keyframes show__header{
  0%{
    opacity: 0;
    top: -70px;
  }
  100%{
    opacity: 1;
    top: 0;
  }
  }
}
.menu{
  &__list{
    @extend %dfc;
  }
  &__item:not(:first-child){
    margin-left: 70px;
  }
  &__btn{
    border: none;
    outline: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
  }
  &__link{
    font-size: 16px;
  }
}
.logo{
  width: 122px;
  height: 30px;
}
.vacancies{
  position: relative;
  cursor: pointer;
  &__title{
    position: relative;
    &::after{
      content: '';
      position: absolute;
      border: 10px solid transparent; border-bottom: 10px solid #fff;
      bottom: -37px;
      left: 50%;
      transform: translateX(-50%);
      display: none;
    }
  }
  &__title.active{
    &::after{
      display: block;
    }
  }
  &__img{
    display: inline;
    align-self: start;
    padding-bottom: 2px;
  }
 
  &__wrapper{
    position: absolute;
    bottom: -200px;
    right: 50%;
    transform: translateX(50%);
    width: 200px;
    min-height: 0;
    max-height: 0;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    transition-duration: 0.5s;
    z-index: 2;
    &::before,
    &::after{
      content: '';
      position: absolute;
      @extend %main-grad;
      clip-path: circle(50%);
      width: 45px;
      height: 45px;
    }
    &::before{
      top: -20px;
      left: -20px;
    }
    &::after{
      bottom: -20px;
      right: -20px;
    }
  }
  &__wrapper.active{
    min-height: 164px;
  }
  &__inner{
    padding: 35px 0;
  }
  &__list{
    @extend %dfc;
    flex-direction: column;
  }
  &__link{
    transition: color 0.5s ease;
    &:hover{
      color: $accent;
    }
  }
  &__item:not(:last-child){
    margin-bottom: 15px;
  }
}
.top{
  overflow: hidden;
  padding: 50px 0 25px;
  &__inner{
    position: relative;
  }
  &__content{
    padding-top: 40px;
    padding-bottom: 60px;
  }
  &__title{
    text-transform: uppercase;
    @extend %montserrat-700;
    max-width: 960px;
    margin: 0 auto 40px;
    font-size: 50px;
    text-align: center;
  }
  &__items{
    justify-content: center;
    margin-bottom: 53px;
  }
  &__item:not(:first-child){
    margin-left: 70px;
  }
  &__items,
  &__item{
    @extend %dfc;
  }
  &__info{
    margin-left: 20px;
  }
  &__info-title{
    @extend %montserrat-700;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  &__button{
    @extend %btn;
    margin: 0 auto;
  }
  &__image,
  &__image-faq,
  &__image-about,
  &__image-reviews{
    position: absolute;
  }
  &__image:first-child{
    width: 129px;
    top: 0;
    left: 0;
  }
  &__image:nth-child(2){
    width: 390px;
    left: 0;
    bottom: -70px;
  }
  &__image:nth-of-type(3){
    width: 118px;
    right: 30%;
    transform: translateX(30%);
    bottom: -60px;
  }
  &__image:last-child{
    width: 232px;
    right: 5%;
    transform: translateX(5%);
    bottom: 80px;
  }
  &__image-faq:first-child{
    width: 207px;
    left: 0;
    bottom: 0;
  }
  &__image-faq:last-child{
    width: 365px;
    right: -140px;
    bottom: -25px;
  }
  &__image-about:first-child{
    width: 110px;
    left: 0;
    bottom: -50px;
  }
  &__image-about:nth-child(2){
    width: 352px;
    left: 100px;
    top: -45px;
  }
  &__image-about:nth-of-type(3){
    width: 289px;
    right: 180px;
    bottom: -23px;
  }
  &__image-about:last-child{
    width: 97px;
    right: 0;
    bottom: 60px;
  }
  &__image-reviews:first-child{
    width: 444px;
    left: 0;
    bottom: -25px;
  }
  &__image-reviews:nth-child(2){
    width: 70px;
    left: 35%;
    transform: translateX(-35%);
    bottom: 25px;
  }
  &__image-reviews:nth-of-type(3){
    width: 72px;
    right: 30%;
    transform: translateX(30%);
    bottom: 50px;
  }
  &__image-reviews:last-child{
    width: 275px;
    right: 0;
    bottom: -50px;
  }
  
}
.about{
  &__team{
    overflow: hidden;
    @extend %main-grad;
    position: relative;
    &::after,
    &::before{
      content: '';
      position: absolute;
      background-repeat: no-repeat;
      background-position: center center;
    }
    &::before{
      background-image: url('../images/bg/doodle.png');
      left: 0;
      bottom: -100px;
      width: 400px;
      height: 400px;
    }
    &::after{
      background-image: url('../images/bg/doodle-mini.png');
      width: 259px;
      height: 259px;
      right: 0;
      top: 0;
    }
  }
  &__inner{
    padding-top: 150px;
    @extend %df;
  }
  &__team-info{
    margin-top: -230px;
  }
  &__title{
    margin-bottom: 40px;
  }
  &__input{
    @extend %input;
  }
  &__team-wrapper,
  &__form{
    @extend %dfc;
  }
  
  &__button,
  &__form-button{
    @extend %btn;
  }
  &__form{
    transform: translateX(3000px);
    position: absolute;
    z-index: 2;
    transition: transform 0.5s ease;
  }
  &__button{
    transition: opacity 0.5s ease;
    position: relative;
    z-index: 2;
  }
  &__form.active{
    transform: translateX(0);
  }
  &__button.hide{
    opacity: 0;
  }
  &__form-button{
    width: 173px;
    height: 47px;
    margin-left: 50px;
  }
  &__input:not(:first-child){
    margin-left: 50px;
  }
  &__image-wrapper{
    position: relative;
  }
  &__image:last-child{
    position: absolute;
    right: -220px;
    bottom: 0;
    width: 126px;
  }
  &__content{
    padding: 120px 0 120px;
    position: relative;
  }
  &__wrapper{
    @extend %df;
  }
  &__info{
    max-width: 660px;
    width: 100%;
    margin-left: 10px;
  }
  &__info-title{
    margin-bottom: 30px;
  }
}
.partners{
  padding: 90px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.industries{
  padding: 110px 0 60px;
  &__title{
    @extend %montserrat-700;
    font-size: 36px;
    text-align: center;
    margin-bottom: 60px;
    text-transform: uppercase;
  }
  &__items{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    -ms-grid-columns: repeat(5, 1fr);
  }
  &__item{
    margin: 0 auto;
    text-align: center;
    span{
      @extend %montserrat-700;
      font-size: 24px;
      text-transform: uppercase;
    }
  }
  &__img-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
       width: 180px;
      height: 180px;
      border-radius: 50%;
      @extend %main-grad;
  }
  &__img{
    width: 90px;
    height: 90px;
    }
}
.courses{
  overflow: hidden;
  padding: 120px 0;
  text-align: center;
  position: relative;
  &__circles,
  &__images{
    width: 0;
    height: 0;
  }
  &__bg-image{
    position: absolute;
    z-index: 3;
  }
  &__bg-image:first-child{
    top: 0;
    left: 5%;
    transform: translateX(-5%);
  }
   &__bg-image:nth-child(2){
    top: 170px;
    right: 14%;
    transform: translate(14%, 0) rotate(320deg);
  }
  &__bg-image:nth-child(3){
    bottom: -70px;
    left: 0;
  }
  &__bg-image:last-child{
    bottom: -50px;
    right: 5%;
  }
&__circle{
  position: absolute;
}
&__circle:first-child{
  top: 0;
  left: 30%;
  transform: translateX(30%);
}
&__circle:nth-child(2){
  width: 33px;
  height: 33px;
  right: 32%;
  top: 180px;
}
&__circle:nth-child(3){
  width: 27px;
  height: 27px;
  left: 7%;
  top: 40%;
  transform: translate(-7%, -40%);
}
&__circle:nth-child(4){
  right: 7%;
  top: 45%;
  transform: translate(-7%, -45%);
}
&__circle:nth-child(5){
  width: 54px;
  height: 54px;
  left: 10%;
  top: 63%;
  transform: translate(-10%, -63%);
}
&__circle:last-child{
  width: 87px;
  height: 87px;
  top: 74%;
  right: 10%;
  transform: translate(10%, -74%);
}
  &__title{
    margin-bottom: 65px;
    &::after{
    background-image: url('../images/content/line.png');
    left: 50%;
    transform: translateX(-50%);
  }
  }
  &__item.active + .cards{
    opacity: 1;
    z-index: 1;
    min-height: 1088px;
    margin-bottom: 250px;
  }
  &__item:not(:last-child){
    margin-bottom: 50px;
  }
  &__preview,
  &__wrapper{
    position: relative;
    z-index: 1;
    background: #f6f6f6;
     max-width: 1200px;
    width: 100%;
    min-height: 155px;
    @extend %dfc;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1), inset 4px 4px 20px rgba(255, 255, 255, 0.7);
    margin: 0 auto 50px;
    border-radius: 40px;
    cursor: pointer;
    &::before{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      background: linear-gradient(180deg, #FDF783 0%, #F9E576 100%);
      border-radius: 40px;
      opacity: 0;
      z-index: -1;
      transition: opacity 0.5s ease;
    }
    &:hover:before{
      box-shadow: inset 4px 4px 15px rgba(0, 0, 0, 0.2); 
      opacity: 1;
    }
  }
  &__wrapper{
    height: 155px;
  }
  &__image,
  &__preview-title{
    margin-left: 50px;
  }
  &__preview-title,
  &__link{
    @extend %montserrat-600;
    font-size: 24px;
  }
  &__image{
    width: 75px;
    height: 75px;
  }
  &__wrapper{
    display: block;
    transition: all 0.5s ease;
  }
  &__list-wrapper{
    opacity: 0;
  }
  &__list-wrapper.active{
    opacity: 1;
  }
  &__wrapper.active{
    height: 436px;
    box-shadow: inset 4px 4px 15px rgba(0, 0, 0, 0.2);
  }
  &__wrapper-image{
    @extend %dfc;
    padding-top: 40px;
  }
  &__list-wrapper{
    max-width: 950px;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
  }
  &__list-item{
    text-align: left;
    margin-bottom: 35px;
  }
  &__link{
   position: relative;
   &::before{
     content: '';
     position: absolute;
     left: -20px;
     top: 10px;
     width: 9px;
     height: 9px;
     border-radius: 20px;
     background-color: #000;
   }
  }
}
.video{
  max-width: 808px;
  width: 100%;
  height: 456px;
}

.cards{
  max-width: 1490px;
  width: 100%;
  margin: 0 auto 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-columns: repeat(2, 1fr);
  grid-column-gap: 50px;
  min-height: 0;
  max-height: 0;
  transition: all 0.5s ease;
  opacity: 0;
  z-index: -1;
}
.card{
  position: relative;
  overflow: hidden;
  max-width: 720px;
  width: 100%;
  min-height: 1088px;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1), inset 4px 4px 20px rgba(255, 255, 255, 0.7);
  border-radius: 40px;
  padding-bottom: 50px;
  &::after,
  &::before{
    content: '';
    position: absolute;
    border-radius: 50%;
    @extend %main-grad;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
  }
  &::before{
    width: 118px;
    height: 118px;
    bottom: 23%;
    left: -50px;
  }
  &::after{
    width: 30px;
    height: 30px;
    right: 50px;
    top: 50%;
  }
  &__top{
    @extend %main-gradient;
    border-radius: 40px;
    margin-bottom: 50px;
  }
  &__name,
  &__title{
    font-size: 30px;
    text-align: center;
    padding: 39px 0;
    &::after{
      background-image: none;
    }
  }
  &__title{
    &::before{
      content: '';
      position: absolute;
      @extend %main-grad;
      width: 30px;
      height: 30px;
      box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
      left: 100px;
      top: 0;
      border-radius: 50%;
    }
  }
  &__image,
  &__text,
  &__button,
  &__input,
  &__form-button{
    margin: 0 auto;
    text-align: center;
  }
  &__text{
    max-width: 525px;
    width: 100%;
    margin-bottom: 55px;
    opacity: 0.5;
  }
  &__list{
    max-width: 377px;
    width: 100%;
    margin: 0 auto 55px!important;
  }
  &__list-item{
    @extend %montserrat-600;
    font-size: 24px;
    margin-bottom: 24px;
    padding-left: 20px;
    position: relative;
    text-align: left;
    &::before{
      content: '';
      position: absolute;
      width: 9px;
      height: 9px;
      background-color: #000;
      border-radius: 50%;
      left: 0;
      top: 10px;
    }
  }
  &__button-download{
    max-width: 424px;
    width: 100%;
    height: 52px;
    @extend %main-gradient;
    margin: 0 auto 20px;
    @extend %dfc;
    justify-content: center;
    border: 0;
    outline: 0;
    cursor: pointer;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    span{
      @extend %montserrat-600;
      font-size: 15px;
      text-transform: uppercase;
      padding-left: 30px;
    }
    img{
      width: 36px;
      height: 36px;
      margin-left: 40px;
    }
}
  &__button{
    @extend %btn;
  }
 
  &__form-title{
    font-size: 24px;
    margin-bottom: 40px;
    &::after{
    background-image: url('../images/content/line.png');
    left: 50%;
    transform: translateX(-50%);
  }
  }
   &__form{
    padding-bottom: 50px;
    display: none;
  }
  &__button.hide{
    display: none;
  }
  &__form.active{
    display: block;
  }
  &__form-wrapper{
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 30px;
  }
  
  &__input{
    @extend %input;
    text-align: left;
  }
  &__form-button{
    @extend %btn;
    max-width: 270px;
  }
}
.card.active{
  &__form{
    display: block;
  }
  &__button{
    display: none;
  }
}
.start{
  position: relative;
  @extend %main-grad;
  &__inner{
    padding: 50px 0;
    @extend %df;
  }
  &__title{
    margin-bottom: 40px;
  }
  &__form{
    @extend %df;
    background-color: #fff;
    max-width: 360px;
    width: 100%;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  &__input{
    @extend %input;
    background-color: transparent;
    width: 295px;
  }
  &__button{
    padding: 0;
    border: 0;
    outline: 0;
    margin-right: 4px;
    cursor: pointer;
  }
  &__image{
    width: 329px;
    height: 329px;
  }
}
.composition{
  overflow: hidden;
  &__content{
    padding: 120px 0;
    background-color: #fff;
  }
  &__wrapper{
    @extend %df;
  }
  &__info-title{
    margin-bottom: 30px;
  }
  &__info-text{
    max-width: 659px;
    width: 100%;
  }
  &__image{
    max-width: 808px;
    width: 100%;
    filter: drop-shadow(10px 10px 60px rgba(0, 0, 0, 0.2));
    border-radius: 20px;
    background-color: transparent;
  }
  &__channel{
    @extend %main-grad;
    padding: 100px 0;
    position: relative;
  }
  &__circle,
  &__bg-image{
    position: absolute;
  }
  &__circle:nth-child(1){
    width: 33px;
    height: 33px;
    right: 20%;
    transform: translateX(20%);
    top: 100px;
  }
  &__circle:nth-child(2){
    width: 54px;
    height: 54px;
    left: 15%;
    transform: translate(-15%, 50%);
    top: 50%;
  }
  &__circle:nth-child(3){
    right: 5%;
    transform: translate(-5%, -30%);
    bottom: 30%;
  }
  &__circle:nth-child(4){
    width: 27px;
    height: 27px;
    left: 5%;
    transform: translate(-5%, -20%);
    bottom: 20%;
  }
  &__bg-image:nth-child(5){
    width: 129px;
    top: 0;
    left: 0;
  }
  &__bg-image:nth-child(6){
    width: 200px;
    top: 0;
    right: 0;
  }
  &__bg-image:nth-child(7){
    width: 126px;
    bottom: 0;
    left: 10%;
    transform: translateX(-10%);
  }
  &__bg-image:nth-child(8){
    width: 156px;
    bottom: 0;
    right: 10%;
    transform: translateX(10%);
  }
  &__subtitle,
  &__title,
  &__link{
    text-align: center;
  }
  &__title{
    &::after{
      left: 50%;
      transform: translateX(-50%);
    }
    max-width: 1040px;
    width: 100%;
    margin: 0 auto 40px;
  }
  &__link{
    @extend %btn;
    margin: 0 auto;
  }
}
.faq{
  padding: 120px 0 140px;
  position: relative;
  &__item{
    position: relative;
    max-width: 1200px;
    width: 100%;
    max-height: 155px;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.5s ease;
    z-index: 1;
    &::before{
      @extend %main-gradient;
      z-index: -1;
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      border-radius: 40px;
      box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1), inset 4px 4px 20px rgba(255, 255, 255, 0.7);
      opacity: 0;
      transition: all 0.5s ease;
    }
    &:hover::before{
      opacity: 1;
      box-shadow: inset 4px 4px 15px rgba(0, 0, 0, 0.2);
    }
  }
  &__item:not(:last-child){
    margin-bottom: 50px;
  }
  &__number,
  &__question{
    @extend %montserrat-700;
    font-size: 24px;
  }
  &__question{
    margin-left: 50px;
  }
  &__svg-wrapper{
    position: relative;
    &::before{
      content: '';
      position: absolute;
      background:linear-gradient(272.67deg, #F8DF5A 0%, #F9E576 100%);
      border-radius: 50%;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      transition: all 0.5s ease;
    }
    margin-left: auto;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    @extend %dfc;
    cursor: pointer;
  }
  &__svg{
    margin: 0 auto;
    position: relative;
    transition: transform 0.5s ease;
  }
  &__text{
    padding: 50px 50px 60px;
    line-height: 1.4;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  &__item.active{
    max-height: 2000px;
    box-shadow: inset 4px 4px 15px rgba(0, 0, 0, 0.2);
    .faq__text{
      opacity: 1;
    }
    .faq__svg-wrapper{
      &::before{
        background: #fff;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.05);
      }
    }
    .faq__svg{
      transform: rotate(180deg);
      path{
        fill: $accent;
      }
    }
  }
  &__top{
    @extend %dfc;
    padding: 40px 50px 0;
  }
  &__number{
    @extend %df;
    width: 75px;
    height: 75px;
    box-shadow: inset 4px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    span{
      margin: 0 auto;
    }
  }
  &__bg-image{
    width: 126px;
  }
  &__circle:nth-child(2){
    right: 10%;
  }
}
.info{
  padding: 110px 0 130px;
  &__inner{
    @extend %df;
  }
  &__image{
    width: 716px;
  }
  &__content{
    max-width: 659px;
    width: 100%;
  }
  &__title{
    margin-bottom: 30px;
  }

}
.gallery{
  position: relative;
  overflow: hidden;
  @extend %main-gradient;
  &__inner{
    padding: 110px 0 130px;
  }
  &__slider{
    margin-bottom: 80px;
  }
  &__title,
  &__text{
    text-align: center;
    margin: 0 auto 30px;
  }
  &__text{
    max-width: 791px;
    width: 100%;
  }
  &__bg-image{
    position: absolute;
  }
  &__bg-image:first-child{
    width: 280px;
    left: -160px;
    top: 0;
  }
  &__bg-image:nth-child(2){
    width: 104px;
    top: 0;
    right: 10%;
    transform: translateX(10%);
  }
  &__bg-image:nth-child(3){
    width: 304px;
    bottom: 10%;
    left: 10%;
    transform: translate(-10%, -10%);
  }
  &__bg-image:nth-child(4){
    width: 126px;
    bottom: 25%;
    right: 10%;
    transform: translate(10%, -25%);
  }
  &__bg-image:nth-child(5){
    width: 300px;
    bottom: 0;
    left: 0;
  }
  &__bg-image:nth-child(6){
    width: 377px;
    bottom: -70px;
    right: -190px;
    transform: rotate(-40deg);
  }
}
.units{
  padding: 140px 0 150px;
  position: relative;
  &__title{
    margin-bottom: 100px;
  }
  &__items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    -ms-grid-columns: repeat(4, 1fr);
    grid-column-gap: 100px;
  }
  &__item{
    position: relative;
    width: 340px;
    height: 208px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1), inset 4px 4px 20px rgba(255, 255, 255, 0.7);
    border-radius: 40px;
  }
  &__name,
  &__image{
    margin: 0 auto;
    text-align: center;
  }
  &__image{
    width: 130px;
    margin-bottom: 10px;
    margin-top: -50px;
  }
  &__name{
    @extend %montserrat-600;
    font-size: 24px;
  }
  &__name--width{
    max-width: 167px;
    width: 100%;
  }
  &__circle{
    position: absolute;
  }
  &__circle:nth-child(1){
    width: 54px;
    height: 54px;
    left: 10%;
    transform: translateX(-10%);
    top: 100px;
  }
  &__circle:nth-child(2){
    width: 116px;
    height: 116px;
    right: 26%;
    transform: translateX(26%);
    top: 140px;
  }
  &__circle:nth-child(3){
    width: 33px;
    height: 33px;
    right: 5%;
    transform: translateX(5%);
    top: 120px;
  }
  &__circle:nth-child(4){
    width: 27px;
    height: 27px;
    left: 2%;
    transform: translateX(-2%);
    top: 220px;
  }
  &__circle:nth-child(5){
    width: 81px;
    height: 81px;
    left: 19%;
    transform: translateX(-19%);
    bottom: 60px;
  }
  &__circle:nth-child(6){
    width: 44px;
    height: 44px;
    right: 3%;
    transform: translateX(3%);
    bottom: 100px;
  }
}
.units,
.gallery{
  &__title{
    text-align: center;
    &::after{
      background-image: url('../images/content/line.png');
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
.results,
.reviews,
.review{
  &__next,
  &__prev{
    z-index: 2;
    background: rgba($color: #000, $alpha: 0.5);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    @extend %dfc;
    position: absolute;
    outline: 0;
    border: 0;
    cursor: pointer;
    svg{
      margin: 0 auto;
    }
  }
  &__next.slick-disabled,
  &__prev.slick-disabled{
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    background: rgba($color: #fff, $alpha: 1);
    svg{
      path{
        fill: $accent;
      }
    }
  }
}
 .slick-slide.slick-center.slick-current{
     border-radius: 20px;
    transform: scale(1.45);
    img{
      border-radius: 20px;
    }
  }

.results,
.reviews{
  padding: 110px 0 120px;
  &__item{
    border-radius: 20px;
    img{
      width: 550px;
      height: 330px;
    }
  }
 
  &__next{
    transform: rotate(180deg) translateY(50%);
    right: -40px;
    top: 50%;
  }
  &__prev{
    left: -40px;
    bottom: 50%;
    transform: translateY(50%);
  }
  &__title{
    margin-bottom: 70px;
    text-align: center;
    &::after{
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
.review{
  @extend %main-gradient;
  position: relative;
  &__inner{
    padding: 110px 0;
  }
  &__item{
    @extend %df;
    display: flex!important;
  }
  &__title{
    &::after{
      background-image: url('../images/content/line.png');
    }
  }
  &__text,
  &__title{
    margin-bottom: 30px;
  }
  &__content{
    position: relative;
    z-index: 3;
    max-width: 607px;
    width: 100%;
  }
  &__image{
    border-radius: 20px;
      width: 920px;
      height: 519px;
      filter: drop-shadow(10px 10px 60px rgba(0, 0, 0, 0.2));
  }
 &__next{
    transform: rotate(180deg) translate(45% , 50%);
    right: 45%;
    top: 50%;
    z-index: 10;
  }
  &__prev{
    left: 20px;
    bottom: 50%;
    transform: translateY(50%);
  }
  &__circle:nth-child(2){
    display: none;
  }
}





.footer{
  padding: 80px 0 80px;
  background-color: #fff;
  &__inner{
   @extend %df;
  }
  &__tels{
    display: flex;
    align-items: center;
  }
  &__tel{
    @extend %montserrat-700;
  }
  &__tel:not(:first-child){
    margin-left: 100px;
  }
  &__social{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    -ms-grid-columns: repeat(4, 1fr);
    grid-column-gap: 100px
  }
  &__image{
    width: 50px;
    height: 50px;
    margin: 0 auto;
  }
}


@import 'media';